{
  "root": false,
  "parser": "@typescript-eslint/parser",
  "plugins": [ "@typescript-eslint" ],
  "extends": [
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "@typescript-eslint/ban-ts-comment": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/member-ordering": [
      "error",
      {
        "default": {
          "memberTypes": [
            "constructor",
            "instance-field",
            "instance-method",
            "static-field",
            "static-method"
          ],
          "order": "as-written"
        }
      }
    ],
    "@typescript-eslint/no-explicit-any": "off"
  }
}
